.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 90px;
    padding: 0 20px;
    background-color: #333;
    border-radius: 10px;
    margin: 0 auto;
}

.navbar__section {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar__center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo img {
    width: 70px;
}

.navbar__links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar__links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.navbar__links a:hover {
    text-decoration: underline;
}
